<div class="row mt-4">
  <div class="col-lg-12 text-center carrinho-vazio">
    <div [hidden]="orders.gamesPedido.length !== 0">
      <h5 class="mt-4">Carrinho</h5>
      <img src="../assets/cart-icon.svg" class="my-4">
      <h6>Até o momento,<br> o seu carrinho está vazio</h6>
    </div>
  </div>
</div>
<div class="row" *ngFor="let pedido of orders.gamesPedido" (mouseenter)="remove_item = true"
  (mouseleave)="remove_item = false">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <a type="button" class="btn" (click)="removerCarrinho(pedido)">
          x
        </a>
        <p><img src={{pedido.game.image}} width="40px">{{ pedido.game.name }}</p>
        <h4></h4>
        <p class="card-text">{{pedido.quantidade}} x {{ pedido.game.price | currency: 'BRL': true}}</p>
        <p class="card-text">Subtotal: {{ subTotal | currency: 'BRL': true}}</p>
        <p class="card-text">Frete: {{ sumFrete | currency: 'BRL': true}}</p>
        <p class="card-text">Total: {{ total | currency: 'BRL': true}}</p>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <button class="btn-primary btn-block" [disabled]="orders.gamesPedido.length">Finalizar compra
    </button>
  </div>
</div>

