<div class="card text-white mb-3">
  <div class="card-header text-center">
      <h5>Carrinho</h5>

  </div>
  <div class="card-body2" >
      <img >
      <h6>Até o momento,<br> o seu carrinho está vazio</h6>
  </div>
  <div class="card-body">
      <ul>
          <li>
              <div class="order-content"
                 >
                  <img src="">
                  <div>
                      <h6></h6>
                      <br>
                      <h6 style="color:black"><strong></strong></h6>
                  </div>
                  <div >
                      <button class="btn-custom btn-primary"
                         >X</button>
                  </div>

              </div>
          </li>
      </ul>
      <div class="card-content">
          <h6>Subtotal</h6>
          <h6 style="color: black; text-align: right;"></h6>
      </div>
      <div class="card-content">
          <h6>Frete</h6>
          <h6 style="color: black; text-align: right;"></h6>
      </div>
      <div class="card-content">
          <h6>Total</h6>
          <h4 style="color: black; text-align: right;"></h4>
      </div>
      <button class="btn btn-primary btn-block"
         >Finalizar compra
      </button>
  </div>
</div>
