<div class="row">
  <div class="col-lg-4" *ngFor="let pedido of productOrders">
    <div class="card text-center">
      <div class="card-header">
        <a href="javascript:void();" (click)="adicionarCarinho(pedido)"><img class="card-img-top"
            src={{pedido.game.image}}></a>
      </div>
      <div class="card-body" *ngIf="!pedido.mostrar">
        <h6 id="produto-titulo">{{pedido.game.name}}</h6>
        <h6 class="card-price">R$ {{pedido.game.price}}</h6>
      </div>
      <a href="javascript:void();" class="btn" (click)="adicionarCarinho(pedido)">adicionar ao carrinho</a>
    </div>
  </div>
